*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    --font-general:sans-serif;
    --back-color-gen:#232b2c;
    --back-color-footer:#414242;
    --color-select-combo:#f1eeee;
}

body{
    font-family: var(--font-general);
    /* min-height: 100vh;
    padding-bottom: 3rem;
    position: relative; */
}


/*************************************************************************************************** 

    Styles de Header

****************************************************************************************************/
.main-header{
    background-color: var(--back-color-gen);
    height: 5rem;
    /* Fijo la barra y que baje sin desparecer */
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999!important;
}


/* Menu del toogle */
.toogle{
    cursor: pointer;
    display: none;
    filter: invert(1);
    margin-left: 1rem;
    position: absolute;
    top: 1rem;
    width: 40px;
}

.container-nav{
    display: flex;
    justify-content: space-between;
    max-width: 94rem;
}

.main-nav-link{
    color: #ffffff;
    max-height: 5rem;
    text-decoration:none;
}

.main-logo{
    background-color: #a02b2b;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 5rem;
    margin-right: 3rem;
    padding-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0;
}

.main-nav{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 5rem;
}

.main-nav-item{
    font-size: 1.1rem;
    line-height: 5rem;
    margin: 0 0.8rem;
    width: max-content;
}

.input-text-search{
    background-color: #f8f5f5;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    margin-right: 1rem;
    width: 45rem;
}

.container-input-icons{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}
/*************************************************************************************************** 

    Styles de Main

****************************************************************************************************/

.main-front{
    padding-bottom: 5.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
    min-height: calc(100vh -354.56px -80px);
}



/* Estilos de carrousel bootstrap */

.carousel-item{
    background: no-repeat scroll center scroll;
    background-size: cover;
    min-height: 300px;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    background: #171717;
}

.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5{
    font-size: 6.3rem;
    font-weight: 700;
}

.carousel-caption p{
    font-size: 1.3rem;
}

.container-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.block-cards{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 101rem;
    height: 100%;
    width: 100%;
}


.card-front{
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    box-shadow: 0px 6px 0.6rem rgba(32, 30, 30, 0.2);
    cursor: default;
    margin: 5.4rem 1.2rem;
    overflow: hidden;
    text-align: center;
    width: 90%;
}



.img-content{
    height: 340px;
    width: 285px;
}

.wrapper-btn-add{
    visibility: hidden;
}


/* Efecto cambio de cards */
@media (hover:hover){    
    div.card-front:hover{
        transform: scale(1.2) !important; 
        transition: all 600ms ease !important;
    }
}


.content-card p{
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.1rem;
}


/*************************************************************************************************** 

    Styles de Footer

****************************************************************************************************/
.main-footer{
    background-color: var(--back-color-footer);
    bottom: 0;
    position: relative;
    width: 100%;
}


.footer-group1{
    display: grid;
    grid-gap: 4.1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: auto;
    max-width: 96rem;
    padding: 2.8rem 0;
    width: 100%;
}

.footer-group1 .footer-box figure{
    /*Centrado vertical  */
    align-items: center;
    display: flex;
    height: 100%;
    /* Centrado horizontal */
    justify-content: center;
    width: 100%;
}

.footer-box{
    grid-column: auto;
    grid-row: auto;
}

.footer-group1 .footer-box figure img{
    width: 15.6rem;
}

.footer-group1 .footer-box h2{
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: 1.6rem;
}
.footer-group1 .footer-box p{
    color: #ece6e6;
    margin-bottom: 0.8rem;
}

.footer-group1 .footer-box .social-red a{
    color: #ffffff;
    display: inline-block;
    height: 2.8rem;
    line-height: 2.8rem;
    margin-right: 0.7rem;
    text-decoration: none;
    width: 2.4rem;
}

.footer-group1 .footer-box a {
    color: #ffffff;
    text-decoration: none;
}


.footer-group2{
    background-color: #485557;
    padding: 0.9rem 06rem;
    text-align: center;
}

.footer-group2 small{
    color: #ffffff;
    font-family: var(--font-general);
    font-size: 0.9rem;
}


/*************************************************************************************************** 

    Styles de contacto

****************************************************************************************************/
.section-form {
    background: #ffffff;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    max-width: 43rem;
    padding: 1.5rem;
}


.titulos {
    margin-bottom: 1.5rem;
    text-align: center;
}


.titulos span{
    color: #a02b2b;
}


.form-container{
    border-radius: 0.7rem;
    box-shadow: 0px 6px 0.6rem rgba(32, 30, 30, 0.2);
}


.main-form-container p{
    margin-top: 1rem;
}


.main-form-container p > input,
.main-form-container p > textarea, 
.main-form-container p > button{
    background: none;
    border: 1.5px solid transparent;
    border-radius: 8px/8px;
    box-shadow: 4px 2px 0.6rem #84cad6e3;
    outline: none;
    padding: 0.7rem;
    width: 100%;
}

.main-form-container p > input,
.main-form-container p > textarea,
.main-form-container p > button {
    margin-top: 1rem;
}


/* Efecto cambio color de botón*/
@media (hover:hover){    
    button.btn-registro:hover{
        background: #ffffff;
        border: 1px solid #1786b9;
        box-shadow: 0 0.2rem #fff3f3;
        color: #1786b9;
        cursor: pointer;
        transition: all 350ms ease;
    }
}


.main-form-container p > button{
    background: #1786b9;
    border-radius: 1rem;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 0.3rem;
}


.main-form-container{
    margin: 0;
    padding: 2.0rem 1.5rem;
}

/*******************************************************************************************

    Style de login: pagina login.html

********************************************************************************************/

/* Estilos del wrapper del titulo */
.main-tittle-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilos titulo h1 */
.wrapper-titulo{
    font-size: 1.1rem;
    margin-top: 1.2rem;
    padding-left: 5rem;
    text-align: right;
    text-transform: uppercase;
    width: 43%;
}


/* Contenedor del form para los registro-group  */
.contenedor-registro{
    background: #ffffff;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10.6rem;
    margin-top: 4rem;
    padding: 1.5rem;
    width: 100%;   
}


/* Estilos de divs que agrupan el form y el registro de nuevos clientes */
.registro-group{
    width: 40%;
}


.registro-group .form-container-registro{
    padding-top: 1.5rem;
}

.registro-group >h2{
    /* font-family: ; */
    font-weight: normal;
    margin-bottom: 1.8rem;
}

/* Aplicando estilos a los input */
.form-container-registro .titulos-registro >input{
    border: 1px solid rgb(170, 167, 167);
    border-radius: 3px;
    margin-bottom: 0.8rem;
    padding: 0.5rem;
    width: 65%;
}

/* Convirtiendo a los labels en block */
.titulos-registro>label{
    display: block;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

/* Resaltando el * dentro del span */
.titulos-registro label>span{
    color: #a02b2b;
}


/* Clase genérica btn */
.btn {
    border-radius: 0.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.7rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 45%;
}

/* Estilos del botón generico de login */
.btn-registro-outline{
    background: #ffffff;
    border: 1px solid #1786b9;
    box-shadow: 0 0.2rem #fff3f3;
    color: #1786b9;
}


/* Efecto cambio color para botón de login */
@media (hover:hover){    
    button.btn-registro-outline:hover{
        background: #1786b9;
        color: #ffffff;
        transition: all 350ms ease;
    }
}

/*************************************************************************** 

    Styles de selector catálogo: Dentro de archivo select-catalogo.css

****************************************************************************/




/*************************************************************************** 

    Styles de Registro nuevo usuario: Dentro de archivo select-catalogo.css

****************************************************************************/




/*************************************************************************** 

    Styles responsive Para TABLET, Elementos: Header, Main y Footer

****************************************************************************/
@media only  screen and (max-width:768px) {
    
    /*------------------------------------------------------ 
        Adaptaciones Responsive para el Header tablet 
    
    -------------------------------------------------------*/
    .main-header{
        background: #a02b2b;
        margin-left: auto;
        margin-right: auto;
       
    }

    .container-nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 0;
        margin-top: 0;
    }

    /* Ocultar el contenido del ul con las primeras opciones */
    .main-nav{
        align-items: center;
        background: #a02b2b;
        display: flex;
        flex-direction: column;
        height: 18rem;
        justify-content: space-evenly;
        transform: translate(-100%);
        width: 100%;
    }

    /* Esta clase servirá para mostrar el menú, utilizando el index.js*/
    .main-nav--mostrar{
        transform: translateY(0);
    }


    /* Mostramos el toogle con el menú hamburguesa */
    .toogle{
        display: inline-block;
    }

    /* En mayúsculas la letra de cada item del nav */
    .main-nav-item {
        padding: 0;
        margin: 0;
        font-weight: bolder;
        text-transform: uppercase;
        
    }

    /* Desaparecemos el logo */
    .main-logo{
        display: none;
    }

    /* Cambiar el tamaño del input */
    .main-nav-item .input-text-search {
        margin-left: 0.7rem;
        width: 28rem;
    }

    /* Clase para ubicar al inicio de la columna al input */
    .container-input-icons{
        order: -1;
        margin-left: 4.6rem;
    }


    /* Efectos para las letras del menú hamburguesa */
    .main-nav-item .main-nav-link:hover{
        color: #000000;
        /* font-weight: bolder; */
        transition: all 0.7s ease;
    }



    /*----------------------------------------------------- 
        Adaptaciones Responsive para el Main index y catálogo tablet 
    -------------------------------------------------------*/
    .main-front section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    .container-section .block-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .card-front{
        width: 65%;
    }
    .img-content{
        height: 370px;
        width: 250px;
    }


    /* Cambios en datos de contacto */
    .section-main{
        margin-top:5rem;
        max-width:30rem;
    }

    
    /* Cambios del main Login*/

    .contenedor-registro{
        margin-top: 1rem;
    }

    .wrapper-main-login>div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-left: auto;
        margin-right: auto;
    }
    

    .wrapper-titulo{

        display: block;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .group-1,
    .group-2{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
        width: 100%;
    }

    .group-1 input{
        min-width: 25rem;
    }


    /* Inicio: Cambios del main Registro: Dentro del archivo select-catalogo.css*/

    /* Fin: Cambios  Cambios del main Registro*/

    .wrapper-buttom-responsive > button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .group-2{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2rem;
    }

    .group-2 p{
        text-align: center;
        width: 100%;
    }

    .btn-registro-outline{
        /* display: inline-block; */
        width: 18rem;
    }

    /*  */
    .carousel-item img{
        min-height: 299px;
    }
    
    /* Listas desplegables del catálogo */

    #container-select{
        display: grid;
        max-width: 15rem;
        text-align: center;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
    }

    .container-options .wrapper-selection {
        width: 100%;
        /* z-index: 9999; */
    }

    .container-options .wrapper-selection #select1,  
    .container-options .wrapper-selection #select2,  
    .container-options .wrapper-selection #select3,  
    .container-options .wrapper-selection #select4  {
        text-align: center;
        font-size: 0.7rem;
        text-align: center;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        
    }

    .select-item option {
        text-align: center !important;
    }

    /*----------------------------------------------------- 
        Adaptaciones Responsive para el Footer tablet 
    -------------------------------------------------------*/
    .main-footer .footer-group1{

        width: 70%;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 2.2rem 0;
    }
}


/*************************************************************************** 

    Styles responsive Para CELLPHONE, Elementos: Header, Main y Footer

****************************************************************************/

@media only  screen and (max-width:480px) {
    /*------------------------------------------------------ 
        Adaptaciones Responsive para el Header tablet 
    
    -------------------------------------------------------*/

    /* Ocultar el contenido del ul con las primeras opciones */
    .main-nav{
        height: 20rem;
    }
    

    /* Reducir el tamaño de la letra del menu responsive */
    .main-nav-item {
        font-size: 1rem;
    }


    /* Cambiar el tamaño del input */
    .main-nav-item .input-text-search {
        font-size: 1rem;
        height: 2rem;
        margin-left: 0.5rem;
        outline: none;
        width: 15rem;
    }

    /* Reducir el tamaño de los cards */
    .block-cards{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60rem;
        width: 80%;
    }

    /* Reducir el padding del main*/
    .main-front{
        padding: 2.6rem 1.2rem 0;
    }

    .container-section{
        align-items: center;
    }

    /* Cards, reducir y adaptar elementos de Registro */
    .card-front {
        margin: 2rem 1.1rem;
        width: 100%;
    }
    .img-content{
        height: 290px;
        width: 200px;
    }

    .content-card p{
        font-size: 1rem;
    }

    .content-card h4{
        font-size: 1.2rem;
    }

    /* Reducir el margen del contenedor de registro */
    .contenedor-registro{
        margin-bottom: 4rem;
    }

}